body{
    background-color: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
    background: transparent;
}

.active{
    color: lightskyblue!important;
}

p{
    color: white;
}

.color-secondary{
    color: lightskyblue;
}

.container-nav{
    display: flex;
    align-items: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    height: 100px;
}

.container-nav ul{
    display: flex;
    gap: 20px;
}

li{
    list-style: none;
}

.link-list-nav a{
    color: white;
    text-decoration: none;
    font-style: 20px;
}

.link-nav-main-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.link-nav-main-left:hover{
    background-color: lightskyblue;
}

.link-nav-main-left span{
    color: white;
    font-size: 50px;
}

.container-nav img{
    width: 150px;
    height: 30px;
    margin-left: 50px;
}

.container-main{
    display: flex;
}

.container-main-left{
    border-right: 2px solid white;
    height: 89vh;
    width: 150px;
}

.container-main-left ul{
    margin-top: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.container-main-left ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.container-main-right{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-main-right-top{
    position: relative;
    border: 2px solid white;
    height: 200px;
    width: 1400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?auto=format&fit=crop&q=80&w=3540&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

h1, p, a{
    z-index: 1;
}

.shadow{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 1440px;
    height: 240px;
    background: rgb(247,222,1);
    background: linear-gradient(5deg, rgba(247,222,1,0.5) 0%, rgba(1,0,255,0.5) 100%);}


.container-main-right-bottom{
    position: relative;
    border: 2px solid white;
    height: 350px;
    width: 1400px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
    background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?auto=format&fit=crop&q=80&w=3544&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.container-main-right-bottom h1{
    z-index: 999;
}



.btn-main-right-top{
    border: 2px solid white;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 85px;
}

.container-list-stat{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.stat-left span{
    color: lightskyblue;
    font-size: 50px;
    margin-right: 15px;
}

.container-stat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.stat-right p{
   margin: 0;
}

.container-btn-right-bottom{
    display: flex;
    justify-content: end;
    margin-top: 100px;
}
.container-btn-right-bottom a{
   color: white;
   background-color: black;
   border: 2px solid white;
   text-decoration: none;
   padding: 10px;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
*/


.container-list-planet{
    height: 650px;
    width: 650px;
    border: 2px solid white;
    padding: 20px;
    margin: 50px;
    display: flex;
    flex-direction: column;
}
.list-planet-title{
    color: white;
}

.header-list-planet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightskyblue;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 550px;
    margin: 0 auto;
}

.list-planet{
    height: 400px;
    overflow: scroll;
    box-sizing: border-box;
}

.planet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.planet:hover{background-color: lightskyblue;
}



.container-show-planet{
    margin-top: 50px;
    margin-right: 50px;
    border: 2px solid white;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px;
}

.messageNonePlanet p{
    color: lightskyblue;
}


#list-planet-trie{
    width: 150px;
    border: 2px solid white;
    background-color: black;
    padding: 5px;
    color: white;
    text-align: center;
}

.list-planet-nav{
    background-color: black;
    border: 2px solid white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.nbPlanet2{
    color: white;
}

.infoStatPlanet span{
    color: lightskyblue;
    font-size: 60px;
}

.infoStatPlanetTop, .infoStatPlanetBottom{
    width: 700px;
    padding: 0;
    display: flex;
}

.statPlanetLeft{
    margin-right: 300px;
    width: 200px;
}

.nameInfoPlanet{
    color: lightskyblue;
}

.statPlanetTop, .statPlanetBottom{
    display: flex;
    align-items: center;
}

.statPlanetTop p, .statPlanetBottom p{
    margin: 0;
}

.population-info-show-planet{
    margin-bottom: 50px;
}

.nbInfoPlanet{
    margin-top: 10px!important;
}

.btnInfoPlanet{
    display: flex;
    justify-content: end;
    width: 870px;
}

.btnInfoPlanet button{
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
}

.btnInfoPlanet button:hover{
    background-color: white;
    color: black;
}

.inactive{
    display: none;
    height: 50px!important;
}

.active{
    display: block;
}